*{
	font-family: 'Spartan', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


:root{
	--morado: hsl(300, 43%, 22%);
	--rosado: hsl(333, 80%, 67%);
	--plomo : hsl(303, 10%, 53%);
	--morado-bajo: hsl(300, 24%, 96%);
	--blanca : hsl(0, 0%, 100%);
	
}

body{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 50px 20px;
	gap: 40px;
	background-image: url(../images/bg-pattern-top-mobile.svg), 
	url('../images/bg-pattern-bottom-mobile.svg');	
	background-repeat: no-repeat;
	background-position: top left ,  right; }

.header__contenedor{
	display: flex;
	flex-direction: column;
	gap:10px
}

.header__titulo{
	text-align: center;
	font-size: 30px;
	color: var(--morado);
	margin-bottom: 10px;
}
.header__parrafo{

	text-align: center;
	font-size: 17px;
	line-height: 25px;
	color: var(--morado);
	font-weight: 500;
	opacity: .7
	
}

.contenedor__rank{
	display: flex;
	flex-direction: column;
	gap: 15px;
	
}
.contenido__rank{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 5px;
	border-radius: 8px;
	background: var(--morado-bajo)
}
.fas{
	color: #e8e20d;
}
.contenido__rank-texto{
	text-align: center;
	font-size: 15px;
	color: var(--morado);
	font-weight: 700;
	
}


.principal__contenido{
	padding-bottom: 70px;

}

.seccion__tarjeta{
	display: flex;
	flex-direction: column;
	gap:1em;
}

.tarjeta__contenedor{
	border-radius: 9px;
	background: var(--morado);
	padding: 20px;
}

.tarjeta__contenido{
	display: inline-flex;
	align-items: center;
	gap: 1em;
	
}

.tarjeta__contenido-img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.tarjeta__contenido-nombre{
	font-weight: 600;
	color: var(--blanca)
}
.tarjeta__contenido-check{
	color: var(--rosado);
}
.tarjeta__contenedor-parrafo{
	color: var(--morado-bajo);
	line-height: 25px;
	font-size: 15px;
	font-weight: normal;
}



@media screen and (min-width:700px){

	body{
		padding: 70px 150px;
		height: 100vh;
		align-items: normal;
		gap: 20px;
		background-image: url('../images/bg-pattern-top-desktop.svg') ,url(../images/bg-pattern-bottom-desktop.svg);
		background-repeat: no-repeat;
		background-position: top left ,  right; 
	}
	
	.header__contenedor{
		flex-direction: row;
		gap: 30px;
	}
	.header__contenido{
		width: 50%;
	}
	
	.header__titulo{
		text-align: left;
		font-size: 53px;
		line-height: 1;
		margin-bottom: 15px;
	}
	.header__parrafo{
		text-align: left;
		font-size: 20px;
		
	}
	
	
	.contenedor__rank{
		width: 50%;
		align-items: center;
		justify-content: space-around;
		
	}
	.contenido__rank{
		width: 80%;
		flex-direction: row;
		justify-content: flex-start;
		height: 55px;
		padding-left: 30px;
		gap:30px
	}
	.contenido__rank-texto{
		font-size: 16px;
	}

	.contenido__rank:nth-child(2){
		margin-left: 10%
	}
	.contenido__rank:nth-child(3){
		margin-left: 20%
	
	}
	
	.seccion__tarjeta{
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		
	}
	.tarjeta__contenedor-parrafo{
		font-size: 17px
	}
	.tarjeta__contenedor{
		max-width: 400px;
		min-width: 300px;
		height: 200px
	}
	.tarjeta__contenedor:nth-child(2){
		margin-top: 3%
	}
	.tarjeta__contenedor:nth-child(3){
		margin-top: 6%;
	}
	
			
}




